<div class="card-header bg-white">最終目標</div>
  <div class="card-body">
    <h5 class="mb-2">title</h5>
    <div class="text-muted xsmall mb-2">
      期間:
    </div>
    <p class="text-muted xsmall"></p>

    <div class="progress"><div class="progress-bar bg-success" ></div></div>
  </div>
</div>
<% if @goal.present? %>
  <%= link_to "edit", edit_goal_path(@goal) %>
<% else %>
  <%= link_to "Goalを作成", new_goal_path %>
<% end %>