<div class="goal container my-4">
  <%= form_with url: daily_tasks_path, method: :post, local: true do %>
    <%= hidden_field_tag :goal_id, @goal.id %>
    <%= hidden_field_tag :date,    @date.to_s %>
  <% end %>
</div>
